In [1]:
library(rvest)

In [3]:
#Read html

cars <- read_html("https://en.wikipedia.org/wiki/Comma-separated_values")

In [4]:
#See table
cars %>% 
  html_element(".wikitable") %>% 
  html_table()

  Year Make  Model
1 1997 Ford  E350
2 1999 Chevy Venture "Extended Edition"
3 1999 Chevy Venture "Extended Edition, Very Large"
4 1996 Jeep  Grand Cherokee
  Description                      Price
1 ac, abs, moon                    3000
2                                  4900
3                                  5000
4 MUST SELL!air, moon roof, loaded 4799

In [5]:
#Dataframe 

df<-html_table(html_nodes(cars, '.wikitable'), fill = TRUE)

In [6]:
#Export to csv

write.csv(df,file="cars_table.csv", row.names=FALSE)